{%from 'macros/form.html' import render_form%}
{%extends 'layout.html'%}

{%block body%}
<section class="hero is-fullheight is-justify-content-center">
    <div class="box column is-one-third is-offset-one-third">
        <h5 class="title has-text-centered">InstaFlask</h5>
        <p class="subtitle has-text-centered">Sing up to see photos and videos from your friends.</p>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <div class="field my-2">
                <p class="control has-icons-left has-icons-right">
                    {{render_form(form.email, class='input', placeholder="Email")}}
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>

            <div class="control my-2">
                {{render_form(form.name, class='input', placeholder="Full Name")}}
            </div>

            <div class="control my-2">
                {{render_form(form.username, class='input', placeholder="Username")}}
            </div>

            <div class="field my-2">
                <p class="control has-icons-left">
                    {{render_form(form.password, class='input', placeholder="Password")}}
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>

            <div class="control my-2">
                {{render_form(form.submit, class='button is-link is-fullwidth is-medium')}}
            </div>
        </form>
    </div>
</section>
{%endblock body%}